@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-display: block;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
h1,
h2,
p {
  margin: 0;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

footer {
  padding-bottom: 2.5rem;
  padding-top: 3rem;
}

/* animated scroll button */
#animated-scroll button span::before {
  z-index: 10;
  position: relative;
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  background-image: url("../src/app/components/buttons/circle.png");
  background-size: contain;
  background-repeat: no-repeat center center;
  animation: scroll-down 2s infinite;
  filter: brightness(0) saturate(100%) invert(22%) sepia(7%) saturate(1740%)
    hue-rotate(245deg) brightness(89%) contrast(91%);
}

@keyframes scroll-down {
  0% {
    transform: translate(0, -18px);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 24px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* resume header */
.full-name-text {
  display: grid;
  align-content: center;
  color: white;
  margin-left: 1.2rem;
  font-size: 2rem;
}
