/* home page */
.homepageHelloText {
  color: #4b3b47;
  text-align: center;
  font-size: 50px;
}

.homepageDescriptionText {
  text-align: center;
  color: black;
  font-size: 23px;
}

.linkToResume {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.linkToResume:hover {
  color: #4b3b47;
  text-decoration: none;
  font-weight: bold;
}

/* top-level header */
.fullNameText {
  color: white;
  margin-left: 1.2rem;
  font-size: 1.625rem;
}

/* overview */
.email {
  color: #d79eff;
  text-decoration: none;
  font-weight: bold;
}

/* experience */
.positionTitleText {
  color: #d79eff;
  font-size: 20px;
  line-height: 1.4;
}

/* icons, avatars */
.borderCircle {
  border-radius: 50%;
}

.borderLogo {
  display: inline-block;
  border-radius: 50%;
  justify-content: center;
}

/* misc */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}
