/* home page */
.linkToResume {
  color: #d79eff;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  display: inline-block;
}

.linkToResume:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #d79eff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.linkToResume:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.socialMediaIcons:hover {
  transition-delay: 0s, 0.5s, 0.5s;
  transform: translateY(-2px);
  z-index: 11;
}

/* top-level header */
.fullNameText {
  color: white;
  margin-left: 1.2rem;
  font-size: 1.625rem;
}

/* overview */
.email {
  color: #d79eff;
  text-decoration: none;
  font-weight: bold;
}

/* experience */
.positionTitleText {
  color: #d79eff;
  font-size: 20px;
  line-height: 1.4;
}

/* icons, avatars */
.borderCircle {
  border-radius: 50%;
}

.borderLogo {
  /* margin-left: 0.75rem; */
  margin-bottom: 0.3rem;
  display: inline-block;
  border-radius: 50%;
  margin-left: 0rem;
  /* @media screen and (min-width: 640px) {
  } */
}

/* misc */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.experiencesTransition {
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-property: background-color, visibility;
}

.skillsTransition {
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-property: transform, margin-left, margin-right;
}
